{% extends 'base.html' %}
{% block content %}
<div class = "leaderboard-content">
	<table class = "user">
	<caption><h2>My details</h2></caption>
		<tr>
			<th> Username </th> <th>Score</th> 
		</tr>
		<tr>
			<td>{{ user.username }}</td> <td> {{ user.score }} </td>
		</tr>
	</table>
 <table class = "leaderboard">
   <caption><h2>LeaderBoard</h2></caption>
	 <tr>
		 <th> Rank </th> <th> Name </th> <th> score </th>
	</tr>
 {% for user in users %}
 <tr> 
	 <td> <span>1</span> </td> <td> {{ user.username }} </td> <td> {{ user.score }} </td>
 </tr>

 

 {% endfor %}
 </table>
 </div>
 {% endblock %}
