{% extends 'base.html' %}

{% block content %}
<div id="middle">
    <main>
        <div id="leaderboard-database">
            <div id="caption">Leaderboard</div>
            <table>
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Username</th>
                        <th>Score</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td> <span>{{user.index}}</span> </td>
                        <td> {{ user.username }} </td>
                        {% if user.score == None %}
                        <td>0</td>
                        {% else %}
                        <td> {{ user.score }} </td>
                        {% endif %}
                    </tr>

                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</div>
{% endblock %}