<!doctype html> {% load static %}
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <title>{% block title %}Online Judge{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- [if IE]
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please upgrade your browser to improve your experience and security.</p>
  <![endif] -->

    <link href="https://fonts.googleapis.com/css2?family=Creepster&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'js/prism/prism.css' %}">
    <link rel="stylesheet" href="{% static 'js/codemirror/lib/codemirror.css' %}">
    <link rel="stylesheet" href="{% static 'js/codemirror/theme/dracula.css' %}">
    <link rel="stylesheet" href="{% static 'js/codemirror/addon/fold/foldgutter.css' %}">
    <link rel="stylesheet" href="{% static 'js/codemirror/addon/dialog/dialog.css' %}">
    <script src="{% static 'js/prism/prism.js' %}"></script>
    <script src="{% static 'js/codemirror/lib/codemirror.js' %}"></script>
    <script src="{% static 'js/codemirror/mode/clike/clike.js' %}"></script>
    <script src="{% static 'js/codemirror/mode/python/python.js' %}"></script>
    <script src="{% static 'js/codemirror/keymap/sublime.js' %}"></script>
    <script src="{% static 'js/codemirror/addon/selection/active-line.js' %}"></script>
    <script src="{% static 'js/codemirror/addon/edit/matchbrackets.js' %}"></script>
    <script src="{% static 'js/codemirror/addon/edit/closebrackets.js' %}"></script>
    <script src="{% static 'js/codemirror/addon/fold/foldcode.js' %}"></script>
    <script src="{% static 'js/codemirror/addon/fold/foldgutter.js' %}"></script>
    <script src="{% static 'js/codemirror/addon/fold/brace-fold.js' %}"></script>
    <script src="{% static 'js/codemirror/addon/fold/indent-fold.js' %}"></script>
    <script src="{% static 'js/codemirror/addon/fold/comment-fold.js' %}"></script>
    <script src="{% static 'js/codemirror/addon/comment/comment.js' %}"></script>
    <script src="{% static 'js/codemirror/addon/dialog/dialog.js' %}"></script>
    <script src="{% static 'js/codemirror/addon/search/search.js' %}"></script>
    <script src="{% static 'js/codemirror/addon/search/jump-to-line.js' %}"></script>
    <script src="{% static 'js/codemirror/addon/search/searchcursor.js' %}"></script>
    <script src="{% static 'js/vendor/modernizr-3.8.0.min.js' %}"></script>
    <script src="{% static 'js/vendor/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>


    {% if user.is_authenticated %}
    {% if "/accounts/login/" == request.path or "/accounts/signup/" == request.path or "/accounts/fgtpswd/" == request.path %}
    <script>
        window.location.href = "/";
    </script>
    {% endif %}
    {% endif %}

</head>

<body>

    <div id="header">
        <div id="logo" class="disable-select">
            <h1>Solve&Learn</h1>
        </div>
        {% if user.is_authenticated %}
        <ul id="loggedin">
            <li>{{user.username}} | <a href="{% url 'logout' %}">Logout</a></li>
            <li><small><a href="{% url 'password_change' %}">change password?</a></small></li>
        </ul>
        {% else %}
        <ul id="login-signup">
            {% if "/accounts/login/" == request.path %}
            <li>Login | <a href="{% url 'signup' %}">Signup</a></li>
            {% elif "/accounts/signup/" == request.path %}
            <li><a href="{% url 'login' %}">Login</a> | Signup</li>
            {% else %}
            <li><a href="{% url 'login' %}">Login</a> | <a href="{% url 'signup' %}">Signup</a></li>
            {% endif %}
        </ul>
        {% endif %}
    </div>

    <nav id="header-nav">
        {% if "/accounts/login/" == request.path or "/accounts/signup/" == request.path or "/accounts/fgtpswd/" == request.path %}
        <p>WELCOME TO THE ONLINE JUDGE</p>
        {% elif "contests" == request.path %}
        <ul>
            <li>CONTESTS</li>
        </ul>
        {% else %}
        <ul>

            <li><a href="#">CONTESTS</a></li>
            <li>|</li>
            <li><a href="/questions">PROBLEMS</a></li>
            <li><a href="/leaderboard">LEADERBOARD</a></li>
            <li><a href="/questions/get_submission">SUBMISSIONS</a></li>
        </ul>
        {% endif %}
    </nav>

    {% block content %} {% endblock %}

    <footer>
        Online Judge © 2020 by Unknown
        <div>
            <p>
                <script type="text/javascript">
                    document.write(' <span id="date">', new Date().toDateString(), '<\/span>')
                    if (document.getElementById) onload = function () {
                        setInterval("document.getElementById ('date').firstChild.data = new Date().toDateString()",
                            50)
                    }
                </script>
                <script type="text/javascript">
                    document.write('<br> <span id="time">', new Date().toLocaleTimeString(), '<\/span>')
                    if (document.getElementById) onload = function () {
                        setInterval(
                            "document.getElementById ('time').firstChild.data = new Date().toLocaleTimeString()",
                            50)
                    }
                </script>
            </p>
        </div>
    </footer>



    <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
    <!-- <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto'); ga('set','transport','beacon'); ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async></script> -->
</body>

</html>