{% extends 'base.html' %}

{% block content %}
{% if form.errors %}
<p style="text-align:center; color: red">Your username and password didn't match. Please try again.</p>
{% endif %}
<div id="credentials-box">
    <div id="cred-header">Enter Your Credentials</div>
    <div id="cred-body">
        <form name="login" method="post">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}" />
            <div class="field">
                <div class="name">
                    <label for="username">Username/Email</label>
                </div>
                <div class="value">
                    <input type="text" id="username" title="Enter your username or email" name="username" value="" required>
                </div>
            </div>
            <div class="field">
                <div class="name">
                    <label for="password">Password</label>
                </div>
                <div class="value">
                    <input id="password" type="password" name="password" title="Password must be 8 characters including 1 uppercase letter, 1 lowercase letter and numeric characters" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" value="" required>
                </div>
            </div>
            <div class="button-field">
                <input type="submit" value="Login">
            </div>
        </form>
        <div class="forgotPassword">
            <a href="{% url 'fgtpswd' %}">Forgot your password?</a>
        </div>
    </div>
</div>

<p align="center">Don't have an account? <a href="{% url 'signup' %}">Signup</a>.</p>
{% endblock %}
