{% extends 'base.html' %}

{% block content %}
{% if "/accounts/password_change/done/" == request.path %}
<div align="center">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1>Password change successful</h1>
    <p>Your password was changed.</p>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
{%else%}
<h1>Password change</h1>
<p>Please enter your old password, for security’s sake, and then enter your new password twice so we can verify you
    typed it in correctly.</p>
{% if form.errors %}
<p style="color: red">Your Passwords didn't match. Please try again.</p>
{% endif %}
<div id="credentials-box">
    <div id="cred-header">Enter Your Details</div>
    <div id="cred-body">
        <form name="change_pswd" method="post">
            {% csrf_token %}
            <div class="field">
                <div class="name">
                    <label for="password">Old password</label>
                </div>
                <div class="value">
                    <input id="password" type="password" name="old_password"
                        title="Password must be 8 characters including 1 uppercase letter, 1 lowercase letter, 1 numeric and 1 special characters"
                        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&]{8,}" value=""
                        required>
                </div>
                <div class="name">
                    <label for="password">New password</label>
                </div>
                <div class="value">
                    <input id="password" type="password" name="new_password1"
                        title="Password must be 8 characters including 1 uppercase letter, 1 lowercase letter, 1 numeric and 1 special characters"
                        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&]{8,}" value=""
                        required>
                </div>
                <div class="name">
                    <label for="cnfpassword">New password confirmation</label>
                </div>
                <div class="value">
                    <input id="cnfpassword" type="password" name="new_password2"
                        title="Password must be 8 characters including 1 uppercase letter, 1 lowercase letter, 1 numeric and 1 special characters"
                        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&]{8,}" value=""
                        required>
                </div>
            </div>
            <div class="button-field">
                <input type="submit" value="Change my password">
            </div>
        </form>
    </div>
</div>
<br>
{%endif%}

{% endblock %}