{% extends 'base.html' %}

{% block content %}
<div id="middle">
  <main>
    <div id="submissions-database">
      <div id="caption">Submissions</div>
      <table>
        <thead>
          <tr>
            <th>Process ID</th>
			<th>Code</th>
            <th>Problem</th>
            <th>Language</th>
            <th>Verdict</th>
          </tr>
        </thead>
        <tbody>
          {% for submission in submissions %}
			<tr>
				<td> {{submission.solution.id}} </td>
            <td><a href="#openModal{{ forloop.counter}}">code</a></td>
            <div id="openModal{{forloop.counter}}" class="modalDialog">
              <div>
                <a href="#close" title="Close" class="close">X</a>

                <nav id="header-nav"
                  style="border:0; margin-bottom:-12px;border-bottom: 5px double maroon;border-radius: 0;">
                  <ul>
                    <li>Title: {{ submission.question.title }}</li>
                    {% if submission.solution.status == '201' %}
                    <li>Verdict: AC</li>
                    {% elif submission.solution.status == '400' %}
                    <li>Verdict: WA</li>
                    {% elif submission.solution.status == '401' %}
                    <li>Verdict: CE</li>
                    {% elif submission.solution.status == '402' %}
                    <li>Verdict: RE</li>
                    {% elif submission.solution.status == '408' %}
                    <li>Verdict: TLE</li>
                    {% elif submission.solution.status == '200' %}
                    <td>Verdict: OK</td>
                    {% elif submission.solution.status == '403' %}
                    <td>Verdict: INVALID FILE</td>
                    {% elif submission.solution.status == '404' %}
                    <td>Verdict: FILE NOT FOUND</td>
                    {% else %}
                    <li>Verdict: processing</li>
                    {% endif %}
                  </ul>
                </nav>
                <div class="sol_code">
                  <a href="javascript:void(0);" onclick="copyFunction('code{{forloop.counter}}')"><small
                      class="copy-text">copy</small></a>
                  <pre id="code{{forloop.counter}}" style="display: none;">{{submission.solution.solution_code}}</pre>
                </div>
                <pre class="prettyprint linenums"><code>{{submission.solution.solution_code}}</code></pre>
              </div>
            </div>
            <td>{{ submission.question.title }}</td>
            <td>{{ submission.solution.lang }}</td>
            {% if submission.solution.status == '201' %}
            <td>AC</td>
            {% elif submission.solution.status == '400' %}
            <td>WA</td>
            {% elif submission.solution.status == '401' %}
            <td>CE</td>
            {% elif submission.solution.status == '402' %}
            <td>RE</td>
            {% elif submission.solution.status == '408' %}
            <td>TLE</td>
            {% elif submission.solution.status == '200' %}
            <td>OK</td>
            {% elif submission.solution.status == '403' %}
            <td>INVALID FILE</td>
            {% elif submission.solution.status == '404' %}
            <td>FILE NOT FOUND</td>
            {% else %}
            <td>processing</td>
            {% endif %}
          </tr>

          {% endfor %}
        </tbody>
      </table>
    </div>
  </main>
</div>
<script>
  function copyFunction(id) {
    const copyText = document.getElementById(id).textContent;
    const textArea = document.createElement('textarea');
    textArea.style.position = "absolute";
    textArea.style.left = "-100%";
    textArea.textContent = copyText;
    document.body.append(textArea);
    textArea.select();
    document.execCommand("copy");
    textArea.remove();
  }
</script>

<!--.solution.statusS = {
    200: 'OK',
    201: 'ACCEPTED',
    400: 'WRONG ANSWER',
    401: 'COMPILATION ERROR',
    402: 'RUNTIME ERROR',
    403: 'INVALID FILE',
    404: 'FILE NOT FOUND',
    408: 'TIME LIMIT EXCEEDED'
} -->
{% endblock %}
