{% extends 'base.html' %}
{% block content %}
<div id="middle">
    <main>
        <form name="submit" class="submit-form" method="POST">
            {% csrf_token %}
            <div id="submitpage-languageindex">
                <label for="languageIndex">Language:</label>
                <div class="submitpage-value">
                    <select id="languageIndex" name="lang" onchange="change()">
                        <option id="text/x-c++src" value="cpp" selected>C++</option>
                        <option id="text/x-csrc" value="c">C</option>
                        <option id="python" value="py">Python</option>
                        <option id="text/x-java" value="java">Java</option>
                    </select>
                </div>
            </div>
            <div id="submitpage-sourcefield">
                <label for="source">Source:</label>
                <div>
                    <textarea id="codeeditor" name="solution_code" rows="20" required></textarea>
                </div>
            </div>
            <div class="submitpage-submitfield">
                <input type="submit" value="Submit">
            </div>
        </form>
    </main>
</div>
<!-- {{ status }} -->

<script>
    var editor = CodeMirror.fromTextArea(document.getElementById("codeeditor"), {
        mode: "text/x-c++src",
        theme: "dracula",
        keyMap: "sublime",
        indentUnit: 4,
        lineNumbers: true,
        styleActiveLine: true,
        matchBrackets: true,
        closeBrackets: true,
        autoCloseTags: true,
        styleActiveLine: true,
        indentWithTabs: true,
        lineWrapping: true,
        showCursorWhenSelecting: true,
        dragDrop: false,
        foldGutter: true,
        gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"],
        extraKeys: {
            'Ctrl-/': function (cm) {
                cm.toggleComment();
            }
        },
        extraKeys: {
            'Ctrl-F': "findPersistent"
        },
    });

    editor.on("change", function (cm, change) {
        editor.save();
    });

    //-----------------LazyLoading Themes---------------
    // var input = document.getElementById("select");

    // function selectTheme() {
    //   var theme = input.options[input.selectedIndex].id;
    //   editor.setOption("theme", theme);
    //   CodeMirror.autoLoadMode(editor,theme);

    //   location.hash = "#" + theme;
    // }
    // var choice = (location.hash && location.hash.slice(1)) ||
    //   (document.location.search &&
    //     decodeURIComponent(document.location.search.slice(1)));
    // if (choice) {
    //   input.options[input.selectedIndex].id = choice;
    //   editor.setOption("theme", choice);
    // }
    // CodeMirror.on(window, "hashchange", function () {
    //   var theme = location.hash.slice(1);
    //   if (theme) {
    //     input.options[input.selectedIndex].id = theme;
    //     selectTheme();
    //   }
    // });

    //-----------------LazyLoading Modes---------------

    var modeInput = document.getElementById("languageIndex");

    function change() {
        var mode = modeInput.options[modeInput.selectedIndex].id;
        editor.setOption("mode", mode);
        //CodeMirror.autoLoadMode(editor,mode);
    }
</script>
{% endblock %}