{% extends 'base.html' %}
{% block content %}
<div id="middle">
	<main>
		<div class="problem-statement">
			<div class="problem-statement">
				<div class="statement-header">
					<div class="qs-title">{{question.title}}</div>
					<div class="author">
						<div class="property-title">
							author:
						</div>
						{{question.author}}
					</div>
					<div class="time-limit">
						<div class="property-title">
							time limit per test:
						</div>
						{{question.time_limit}} sec
					</div>
					<div class="memory-limit">
						<div class="property-title">
							memory limit per test:
						</div>
						{{question.memory_size}} megabytes
					</div>
					<div class="input-file">
						<div class="property-title">
							input:
						</div>
						standard input
					</div>
					<div class="output-file">
						<div class="property-title">
							output:
						</div>
						standard output
					</div>
				</div>
				<div class="legend">
					<pre><code>{{question.description}}</code></pre>
				</div>
				<p></p>
				<p></p>
				<div class="input-specification">
					<div class="section-title">Input</div>
					<p></p>
					<pre><code>{{question.input_format}}</code></pre>
				</div>
				<p></p>
				<p></p>
				<div class="output-specification">
					<div class="section-title">Output</div>
					<p></p>
					<pre><code>{{question.output_format}}</code></pre>
				</div>
				<p></p>
				<p></p>
				<div class="sample-tests">
					<div class="section-title">Examples</div>
					<p></p>
					<p></p>
					<div class="sample-test">
						<div class="input">
							<div class="title">Input
								<a href="javascript:void(0);" onclick="copyFunction('input-data')"><small
										class="copy-text">copy</small></a>
							</div>
							<pre class="content" id="input-data">{{question.sample_inputs}}</pre>
						</div>
						<div class="output">
							<div class="title">Output
								<a href="javascript:void(0);" onclick="copyFunction('output-data')"><small
										class="copy-text">copy</small></a>
							</div>
							<pre class="content" id="output-data">{{question.sample_outputs}}</pre>
						</div>
					</div>
				</div>
				<p></p>
				<p></p>
				{% if question.note %}
				<div class="note">
					<div class="section-title">Note</div>
					<p></p>
					<pre><code>{{question.note}}</code></pre>
				</div>
				{% endif %}
			</div>
			<p></p>
			<p></p>
		</div>
		<hr>
		<div align="center">
			<a href="/questions/submission/{{ question.id }}"><button style="cursor: pointer;"
					type="button">SUBMIT</button></a>
		</div>
	</main>
</div>
<script>
	function copyFunction(id) {
		const copyText = document.getElementById(id).textContent;
		const textArea = document.createElement('textarea');
		textArea.style.position = "absolute";
		textArea.style.left = "-100%";
		textArea.textContent = copyText;
		document.body.append(textArea);
		textArea.select();
		document.execCommand("copy");
		textArea.remove();
	}
</script>
{% endblock %}